.card {
    max-height: 40rem;
    height: fit-content;
    background: none;
    border-radius: 0 .8rem .8rem .8rem;
    overflow: hidden;
    background-color: #0e0e0e;
    transition: all ease-in-out 300ms;
    padding: .8rem 1.2rem 1.2rem 1.6rem;
    display: flex;
}

.card-container {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: .4rem;
}

.author {
    font-family: 'Rubik', sans-serif;
    font-size: 2.4rem;
    color: var(--mustard);
    word-break: break-word;
}

.comment {
    margin-top: .4rem;
    line-height: 150%;
    height: fit-content;
    font-size: 1.6rem;
    word-break: break-word;
    font-family: 'Inter', sans-serif;
    color: white;
}

.upvote-container {
    z-index: 1;
    height: 2.4rem;
    width: fit-content;
    background-color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .8rem;
    padding: .8rem .8rem 0;
    border-radius: .8rem .8rem 0 0;
    transition: all ease-in-out 300ms;
}

.upvote-container > .card-icon {
    height: 100%;
    color: #202020;
    background-color: var(--mustard);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 300ms;
    padding: 1px;
}

.card-icon:hover {
    color: var(--mustard);
    background: none;
}

.number {
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    color: var(--flax);
}

.wrap {
    display: flex;
    flex-direction: column;
}

.wrap:hover .upvote-container {
    background-color: #202020;
}

.wrap:hover .card {
    background-color: #202020;
}