.date {
  width: 100%;
  margin-top: 1.6rem;
}

.date > p {
  font-size: 3.2rem;
  color: white;
  font-family: "Rubik", sans-serif;
  margin-bottom: 2.4rem;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1.6rem;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1.6rem;
  background-clip: padding-box;
}

.my-masonry-grid_column > div { 
  margin-bottom: 1.6rem;
}