header {
  padding: 1.6rem 9.6rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  inset: 0;
  background-color: var(--black);
}

.brand {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.brand img {
  height: 6.4rem;
}

.brand > h1 {
  color: var(--mustard);
  font-size: 4rem;
  font-family: "Rubik", sans-serif;
}

.header-icon {
  display: none;
}

header > button {
  color: var(--black);
  border-radius: 0.8rem;
  height: 5.4rem;
  width: 24rem;
  border: none;
  outline: none;
  background-color: var(--mustard);
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > button:hover {
  transform: scale(0.9);
}

@media (max-width: 64em) {
  header {
    padding: 1.6rem 3.2rem;
  }
}

@media (max-width: 43.5em) {
  header > button > p {
    display: none;
  }
  header > button {
    background: none;
    padding: 0;
    justify-content: end;
    width: fit-content;
  }
  .header-icon {
    display: block;
    height: 80%;
    color: var(--mustard);
  }
  .brand img {
    height: 4.8rem;
  }
  .brand > h1 {
    display: none;
  }
}