header {
  padding: 1.6rem 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  inset: 0;
  background-color: var(--black);
}

.brand {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.brand > img {
  height: 6.4rem;
}

.brand > h1 {
  color: var(--mustard);
  font-size: 4rem;
  font-family: "Rubik", sans-serif;
}

header > button {
  color: var(--black);
  border-radius: 0.8rem;
  padding: 1.6rem 0;
  width: 24rem;
  border: none;
  outline: none;
  background-color: var(--mustard);
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

header > button:active {
  transform: scale(0.9);
}