body {
  background-color: var(--black);
}

main {
  height: auto;
  width: 100%;
  padding: 0 9.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.line {
  background-color: #202020;
  height: 1px;
  width: 100%;
}

.noComment {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #202020;
  font-size: 3.2rem;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 64em) {
  main {
    padding: 0 3.2rem 1.6rem;
  }
}