.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem 2rem 2.4rem 2.4rem;
  background-color: #0e0e0e;
  border: 1px var(--mustard) solid;
  height: 48rem;
  width: 40rem;
  border-radius: 0.8rem;
}

.author-ta {
  width: 100%;
  background: none;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
  color: var(--mustard);
  resize: none;
  border: none;
  word-break: break-word;
}

.comment-ta {
  outline: none;
  width: 100%;
  background: none;
  resize: none;
  border: none;
  margin-top: .8rem;
  line-height: 150%;
  font-size: 1.6rem;
  word-break: break-word;
  font-family: "Inter", sans-serif;
  color: white;
}

.form-container {
  height: 100%;
  overflow-y: auto;
  padding-right: 0.4rem;
}

.form > button {
  color: var(--black);
  border-radius: 0.8rem;
  padding: 1.6rem 0;
  width: calc(100% - 0.4rem);
  border: none;
  outline: none;
  background-color: var(--mustard);
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

form > button:hover {
  transform: scale(0.9);
}

.author-ta::-webkit-input-placeholder {
  font-size: 2.4rem;
  color: var(--mustard);
  font-family: "Rubik", sans-serif;
}

.comment-ta::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: white;
  font-family: "Inter", sans-serif;
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  height: 3.2rem;
  width: 3.2rem;
  background: #0e0e0e;
  border: 1px solid var(--mustard);
  border-radius: 50%;
  color: var(--mustard);
  transform: translate(40%, -40%);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.closeModal:hover {
  background-color: var(--mustard);
  color: var(--black);
}

@media (max-width: 28em) {
  .form {
    height: 40rem;
    width: 32rem;
  }
}

@media (max-width: 23em) {
  .form {
    height: 40rem;
    width: 28rem;
  }
}

@media (max-width: 19em) {
  .form {
    height: 40rem;
    width: 24rem;
  }
}
